@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 220 10% 10%;
    --foreground: 0 0% 100%;
    --card: 220 10% 12%;
    --card-foreground: 0 0% 100%;
    --popover: 220 10% 12%;
    --popover-foreground: 0 0% 100%;
    --primary: 350 79% 40%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 10% 16%;
    --secondary-foreground: 0 0% 100%;
    --muted: 220 10% 16%;
    --muted-foreground: 220 10% 70%;
    --accent: 350 79% 40%;
    --accent-foreground: 0 0% 100%;
    --destructive: 354 74% 40%;
    --destructive-foreground: 0 0% 100%;
    --border: 220 10% 16%;
    --input: 220 10% 16%;
    --ring: 350 79% 40%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
